<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Angular Tests</title>
    <link href="./bootstrap.min.css" rel="stylesheet">
    <link href="./style.css" rel="stylesheet">
  </head>
  <body>

  <div ng-app='demo-app' ng-controller='DemoController'>

    <div class="container">
      <h1>Paginated</h1>
      <p>At the bottom are some previous and next buttons. You can see in the HTML that they are called like <code>loadPage(N)</code> where <code>N</code> is a pagination offset. You'll need to handle disabling buttons on your own, see the HTML in this demo for an example.</p>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Any text will do..." ng-model="queryParams.username">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button" ng-click="search.search()">Go!</button>
        </span>
      </div>
    </div>

    <div class="container">
      <ul>
        <li ng-repeat='item in search.items'>
          <h1>{{item.name}} <small>{{item.count}}</small></h1>
          <span class='subject'>{{item.subject}}</span>
          <span>{{item.data}}</span>
        </li>
      </ul>

      <div>
        <p ng-show='search.busy'>Loading data...</p>
        <p ng-show='!search.busy && search.items.length > 0'>
          <button type="button" class="btn btn-default" ng-disabled="search.position.start == 0" ng-click="search.loadPage(-1)">Previous Page</button>
          <button type="button" class="btn btn-default" ng-click="search.loadPage(+1)">Next Page</button>
        </p>
      </div>
    </div>

  </div>

    <script src="./jquery.min.js"></script>
    <script src="./angular.min.js"></script>
    <script src="../ng-infinite-scroll.min.js"></script>
    <script src="../ng-infinisearch.js"></script>
    <script src="./app.js"></script>
  </body>
</html>