<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Angular Tests</title>
    <link href="./bootstrap.min.css" rel="stylesheet">
    <link href="./style.css" rel="stylesheet">
  </head>
  <body>

  <div ng-app='demo-app' ng-controller='DemoController'>

    <div class="container">
      <h1>Auto Load</h1>
      <p>After a search is submitted, the data will continue to auto-load once you reach near the bottom of the page.</p>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Any text will do..." ng-model="queryParams.username">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button" ng-click="search.search()">Go!</button>
        </span>
      </div>
    </div>

    <div class="container">
      <ul infinite-scroll='search.loadMore()' infinite-scroll-disabled='search.busy || !search.firstSearchRan' infinite-scroll-distance='1'>
        <li ng-repeat='item in search.items'>
          <h1>{{item.name}} <small>{{item.count}}</small></h1>
          <span class='subject'>{{item.subject}}</span>
          <span>{{item.data}}</span>
        </li>
      </ul>

      <div>
        <p ng-show='search.busy'>Loading data...</p>
      </div>
    </div>

  </div>

    <script src="./jquery.min.js"></script>
    <script src="./angular.min.js"></script>
    <script src="../ng-infinite-scroll.min.js"></script>
    <script src="../ng-infinisearch.js"></script>
    <script src="./app.js"></script>
  </body>
</html>